* {
    margin: 0;
    padding: 0 font-size: 16px;
}

body {
    box-sizing: border-box;
 
   
}

iframe {
    max-width: 100%;
    width: 100%;
    border: none;
    height: 175px;
    z-index: 10000;
}

.container {
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
    border: 1px solid #fff;
    width: 650px;
    height: 400px;
    box-shadow: 0 3px 4px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    border-radius: 15px;
    position: relative;
}

.content {
    margin-top: 12px;
    font-size: 1.7rem;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;

}

.deliver {
    position: absolute;
    width: 600px;
    height: 350px;
    left: 200px;
    top: 200px
}

.giaohang {
    position: absolute;
    width: 700px;
    height: 350px;
    right: 150px;
    top: 200px
}

.in-text {
    margin-top: 12px;
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
    width: 200px;

    margin-left: 350px;

}

.in-text1 {
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    margin-left: 200px;

}

.btn {
    font-size: 16px;
    padding: 13px;
    border: none;
    border-radius: 15px;
    background: #3b82f6;
    color: #fff;
    font-weight: 600;
    margin-bottom: 8px;
    cursor: pointer;
}

p {
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 12px;
}

.btn-1 {
    font-size: 16px;
    padding: 13px;
    border: none;
    border-radius: 15px;
    background: #3b82f6;
    color: #fff;
    font-weight: 600;
    margin-bottom: 8px;
    cursor: pointer;
}

.footer {
    margin: 100px 0 0 0;
    width: 100%;
    max-height: 100%;
    height: 400px;
}